@using Umbraco.Extensions
@using Umbraco.SampleSite.Controllers
@using UmbObservability.Demo.ContactForm
@model UmbObservability.Demo.ContactForm.MyContactFormViewModel

@{
    var message = TempData["Message"]?.ToString();
}
<div class="form-group">
    @using (Html.BeginUmbracoForm<MyContactFormSurfaceController>(nameof(MyContactFormSurfaceController.Submit)))
{
    <div>
        @Html.TextBoxFor(m => m.Name, new {@class="form-control", placeholder = Html.DisplayNameFor(m => m.Name)})
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div>
        @Html.TextBoxFor(m => m.Email, new {@class="form-control", placeholder = Html.DisplayNameFor(m => m.Email)})
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div>
        @Html.TextBoxFor(m => m.Subject, new {@class="form-control", placeholder = Html.DisplayNameFor(m => m.Subject)})
        @Html.ValidationMessageFor(m => m.Subject)
    </div>
    <div>
        @Html.TextAreaFor(m => m.Message, new {@class="form-control", placeholder = Html.DisplayNameFor(m => m.Message)})
        @Html.ValidationMessageFor(m => m.Message)
    </div>
    <input type="submit" name="Submit" value="Submit"/>
   @if (!string.IsNullOrEmpty(message))
   {
       @message
   }
}
</div>